*.iml
.gradle
local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
gradlew
gradlew.bat
libcore/src/main/assets/sdk_versions/com.mapbox.android.core
libtelemetry/src/main/assets/sdk_versions/com.mapbox.android.telemetry
*.exec
