<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapbox.android.telemetry">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application>
        <service android:name="com.mapbox.android.telemetry.TelemetryService"/>
    </application>
    <!--TODO Remove comment after analyzing the impact on the performance when adding SchedulerFlusherJobService-->
    <!--<application>-->
    <!--<service-->
    <!--android:name="com.mapbox.android.telemetry.SchedulerFlusherJobService"-->
    <!--android:permission="android.permission.BIND_JOB_SERVICE"/>-->
    <!--</application>-->
</manifest>
