<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapbox.android.telemetry">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <provider
            android:name=".provider.MapboxTelemetryInitProvider"
            android:authorities="${applicationId}.mapboxtelemetryinitprovider"
            android:exported="false"
            android:initOrder="100"/>
    </application>
</manifest>
