<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapbox.android.telemetry">

    <!--Required for CrashReporterJobIntentService on API levels below 25-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS" android:maxSdkVersion="20"/>

    <application>
        <provider
            android:name=".provider.MapboxTelemetryInitProvider"
            android:authorities="${applicationId}.mapboxtelemetryinitprovider"
            android:exported="false"
            android:initOrder="100"/>
        <service android:name=".errors.ErrorReporterJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service android:name=".MapboxTelemetryService" android:exported="false"/>

        <receiver android:name="com.mapbox.android.telemetry.location.LocationUpdatesBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.mapbox.android.telemetry.location.LocationUpdatesBroadcastReceiver.ACTION_LOCATION_UPDATED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
